{% extends "base.html" %}
{% block content %}


<div class="bs-header">
    <h2>Buy & Sell</h2>
    <a href="{{ url_for('add_item') }}" class="add-item-top-btn">+ Add Item</a>
</div>


<div class="toggle-tabs">
    <button class="toggle-btn active" onclick="showTab('available')">Available Items</button>
    <button class="toggle-btn" onclick="showTab('sold')">Sold Out</button>
</div>



<div id="available" class="tab-section">
    <div class="product-grid center-grid">
        {% for item in available %}
        <a href="{{ url_for('product_detail', item_id=item.id) }}" class="product-card">
            {% if item.image %}
                <img src="{{ url_for('static', filename='uploads/' ~ item.image) }}" class="product-image">
            {% else %}
                <div class="product-image" style="display:flex;align-items:center;justify-content:center;background:#e3f2fd;">image</div>
            {% endif %}
            <div class="product-info">
                <div class="product-name">{{ item.name }}</div>
                <div class="product-price">₹{{ item.price }}</div>
            </div>
        </a>
        {% else %}
        <p>No available items.</p>
        {% endfor %}
    </div>
</div>


<div id="sold" class="tab-section" style="display:none;">
    <div class="product-grid center-grid">
        {% for item in sold %}
        <a href="{{ url_for('product_detail', item_id=item.id) }}" class="product-card sold-card">
            {% if item.image %}
                <img src="{{ url_for('static', filename='uploads/' ~ item.image) }}" class="product-image sold-img">
            {% else %}
                <div class="product-image sold-img"
                     style="display:flex;align-items:center;justify-content:center;background:#e3f2fd;">image</div>
            {% endif %}
            <div class="product-info">
                <div class="product-name">{{ item.name }}</div>
                <div class="product-price">₹{{ item.price }}</div>
            </div>
        </a>
        {% else %}
        <p>No sold-out items yet.</p>
        {% endfor %}
    </div>
</div>



<script>
function showTab(tab) {
    document.getElementById('available').style.display = 'none';
    document.getElementById('sold').style.display = 'none';

    document.getElementById(tab).style.display = 'block';

    let btns = document.querySelectorAll('.toggle-btn');
    btns.forEach(btn => btn.classList.remove('active'));

    if (tab === 'available') btns[0].classList.add('active');
    else btns[1].classList.add('active');
}
</script>

{% endblock %}
