{% extends "base.html" %}
{% block content %}
<h2>Buy & Sell Items</h2>
<ul>
    {% for item in items %}
    <li>{{ item.name }} - ₹{{ item.price }}</li>
    {% endfor %}
</ul>

<h3>Add New Item</h3>
<form method="post">
    Product Name: <input type="text" name="name"><br>
    Description: <input type="text" name="name"><br>
    Price: <input type="number" name="price"><br>
    Product Image: <input type="number" name="price"><br>
    Name: <input type="text" name="name"><br>
    Roll number: <input type="text" name="name"><br>
    Contact Number: <input type="text" name="name"><br> 
    Email address: <input type="text" name="name"><br>
    Name: <input type="text" name="name"><br>
    Price: <input type="number" name="price"><br>
    <input type="submit" value="Add">
</form>
{% endblock %}
