{% extends "base.html" %}
{% block content %}

<div class="bs-header">
    <h2>Lost & Found</h2>
    <a href="{{ url_for('add_lost_item') }}" class="add-item-top-btn">+ Add Lost Item</a>
</div>

<div class="toggle-tabs">
    <button class="toggle-btn active" onclick="showTab('active')">Active</button>
    <button class="toggle-btn" onclick="showTab('resolved')">Resolved </button>
</div>


<div id="active" class="tab-section">
    <div class="product-grid center-grid">
        {% for item in active_items %}
            <a href="{{ url_for('lost_found_detail', item_id=item.id) }}" class="product-card">
                {% if item.image %}
                    <img src="{{ url_for('static', filename='uploads/' ~ item.image) }}" class="product-image">
                {% else %}
                    <div class="product-image" style="display:flex;align-items:center;justify-content:center;background:#e3f2fd;">Image</div>
                {% endif %}

                <div class="product-info">
                    <div class="product-name">{{ item.item }}</div>
                    <div class="product-price">{{ item.status|capitalize }}</div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>


<div id="resolved" class="tab-section" style="display:none;">
    <div class="product-grid center-grid">
        {% for item in resolved_items %}
            <a href="{{ url_for('lost_found_detail', item_id=item.id) }}" class="product-card sold-card">
                {% if item.image %}
                    <img src="{{ url_for('static', filename='uploads/' ~ item.image) }}" class="product-image sold-img">
                {% else %}
                    <div class="product-image sold-img" style="display:flex;align-items:center;justify-content:center;background:#e3f2fd;">Image</div>
                {% endif %}

                <div class="product-info">
                    <div class="product-name">{{ item.item }}</div>
                    <div class="product-price">{{ item.status|capitalize }}</div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>

<script>
function showTab(tab) {
    document.getElementById("active").style.display = tab === "active" ? "block" : "none";
    document.getElementById("resolved").style.display = tab === "resolved" ? "block" : "none";

    const buttons = document.querySelectorAll(".toggle-btn");
    buttons.forEach(btn => btn.classList.remove("active"));
    event.target.classList.add("active");
}
</script>

{% endblock %}
